@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/cultures/kendo.culture.de-DE.min.js"></script>


    <script type="text/javascript">
     //set current to the "de-DE" culture script
     kendo.culture("de-DE");
    </script> 
    
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo.common.min.css">
    <link rel="stylesheet" href="~/Content/kendo.flat.min.css" />
    
</head>
<body>
    <div>
    @{
        Html.RenderAction("Index", "Home");} @*RenderPage("~/Views/Home/Index.cshtml")*@
    <div class="sidebar" >
        <aside>
            <nav>
                @if(IsSectionDefined("SideBar")) {
                    @RenderSection("SideBar", required: true)
                } else
                {
                    <div class="k-button nav-button">@Html.ActionLink("Markets", "Index", "Markets", null, new { @class = "k-link nav-link" })</div>
                }
            </nav>
        </aside>
        @if (IsSectionDefined("AdminSideBar"))
        {
            <aside>
                <nav>
                    @RenderSection("AdminSideBar", required: false)
                </nav>
            </aside>
        }
    </div>
    <div class="body-grid">
        @RenderBody()
    </div>
    <div class="footer">
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    </div>
</body>
</html>
