@model Auction.Mvc.Models.BidDto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bid</h4>
    <hr />
    <table class="dl-horizontal">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Id)
            </td>

            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProductName)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Sum)
            </td>

            <td>
                @Html.DisplayFor(model => model.Sum)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BidTime)
            </td>

            <td>
                @Html.DisplayFor(model => model.BidTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.User)
            </td>

            <td>
                @Html.DisplayFor(model => model.User)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn k-button" /> |
            @Html.ActionLink("Back to List", "Index", "Admin")
        </div>
    }
</div>
