@model Auction.Mvc.Models.ProductDto

@{
    ViewBag.Title = "Create a new product";
}

@{
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}


@using (Html.BeginForm())
{

<div class="form-horizontal k-content">
    
    <h4>Create a New Auction Item</h4>
    <hr />

    <div class="details-div details-div-col-1 ">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "k-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "k-textbox" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Auction", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MarketsList",null, htmlAttributes: new { @class = "k-item k-input dropdown-list", @Name = "MarketName" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">Image path</span>
            <div>
                @Html.TextAreaFor(model => model.ImgPath, htmlAttributes: new { @class = "k-textbox", @Name = "ImagePath" })
            </div>
        </div>
    </div>
    <div class="details-div details-div-col-2">
        <div class="form-group">
            @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoriesList",null, htmlAttributes: new { @class = "k-item k-input dropdown-list", @Name = "CategoryName" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartBid, new { htmlAttributes = new { @class = "k-textbox" } })
                @Html.ValidationMessageFor(model => model.StartBid, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Bid Duration", htmlAttributes: new { @class = "k-label col-md-2" })
            <div class="col-md-10">
                <select name="Duration" id="Duration" class="k-item k-input option-list" required>
                    <option value="0">Market</option>
                    <option value="1">1 Day</option>
                    <option value="3">3 Days</option>
                    <option value="5">5 Days</option>
                    <option value="7">7 Days</option>
                    <option value="10">10 Days</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "k-textbox description-box" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>        
        <br>
</div>
<div class="form-group details-div-col-2">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="k-button k-button" />
    </div>
</div>
}