@model Auction.Domain.Comment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal k-content">

        <h4>Edit</h4>
        <hr />

        <div class="form-group">
            Description
            <div>
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "k-textbox description-box" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input name="Id" type="hidden" value="@Html.DisplayFor(model => model.Id)" />
            <input name="ProductId" type="hidden" value="@Html.DisplayFor(model => model.ProductId)" />
            <input name="Time" type="hidden" value="@Html.DisplayFor(model => model.Time)" />
            <input name="User" type="hidden" value="@Html.DisplayFor(model => model.User)" />
            <input type="submit" value="Save" class="btn k-button" /> | @Html.ActionLink("Back to List", "Index", "Admin", null, htmlAttributes: new { @class = "k-button" })
        </div>
    </div>
}
