@model Auction.Domain.Market

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Market</h4>
    <hr />
    <table style="width: 500px;">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MarketStart)
            </td>
            <td>
                @Html.DisplayFor(model => model.MarketStart)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MarketEnd)
            </td>

            <td>
                @Html.DisplayFor(model => model.MarketEnd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MarketType)
            </td>
            <td>
                @Html.DisplayFor(model => model.MarketType)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MarketStatus)
            </td>
            <td>
                @Html.DisplayFor(model => model.MarketStatus)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MarketClosed)
            </td>
            <td>
                @Html.DisplayFor(model => model.MarketClosed)
            </td>
        </tr>
</table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "k-button" }) |
    @Html.ActionLink("Back to List", "Index", "Admin", null, htmlAttributes: new { @class="k-button"})
</p>
