

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>


<div id="result"></div>

@section AdminSideBar{

<div class="k-button nav-button">
    @Ajax.ActionLink(
        "Market [A]",
        "Markets",
        "Admin",
        new AjaxOptions { UpdateTargetId = "result" },
        htmlAttributes: new { @class= "k-link"}
    )
</div>
<div class="k-button nav-button">
    @Ajax.ActionLink(
        "Product [A]",
        "Products",
        "Admin",
        new AjaxOptions { UpdateTargetId = "result" },
        htmlAttributes: new { @class = "k-link" }
    )
</div>
<div class="k-button nav-button">
    @Ajax.ActionLink(
        "Comment [A]",
        "Comments",
        "Admin",
        new AjaxOptions { UpdateTargetId = "result" },
        htmlAttributes: new { @class = "k-link" }
    )
</div>
<div class="k-button nav-button">
    @Ajax.ActionLink(
        "Bids [A]",
        "Bids",
        "Admin",
        new AjaxOptions { UpdateTargetId = "result" },
        htmlAttributes: new { @class = "k-link" }
    )
</div>    
}
