To: @ViewBag.To
From: aukcionas@alna.lt
Subject: Won Item notice: @ViewBag.Item

<html>
<head>
</head>
<body>
    <h2>Congratulations, @ViewBag.Winner!</h2>
    <br />
    <p>You won @ViewBag.Item with the highest bid of @ViewBag.Bid ! </p>
    <p>Click the following link to check out your item: @ViewBag.Link</p>

</body>
</html>